<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>JavaScript D3</string>
	<key>uuid</key>
	<string>6C2C249A-D12F-403E-BBD7-A8B7A966152F</string>
</dict>
</plist>
