<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>CF71DBB5-3C56-48DB-927E-54A03CF62764</string>
			<string>FEC0C65B-427D-419B-9D78-7C054E035791</string>
			<string>6D94A425-D5B9-4640-99F2-D5FE5F0E5C15</string>
			<string>1D500F35-87BA-4692-9EAB-B278C550449A</string>
			<string>41D0C877-4D0D-4BB8-AF83-C57DF36727B7</string>
			<string>279C3CD5-4254-498F-B546-F05B2C960DCF</string>
			<string>6C042512-A2C5-4ECC-84B2-D083EFE7930D</string>
			<string>AF0D8F81-D215-4DEF-A350-CCADEB7D62C8</string>
			<string>51468649-230C-4EB3-9CFA-1A35D23830E3</string>
			<string>9B123712-52AA-4B20-9368-AECE613150A0</string>
			<string>31E1F5E4-B147-4289-9BBA-26825EAA3D7A</string>
			<string>7600A0CE-E3B8-4858-901C-176A092A23BD</string>
			<string>516E35F5-0651-4D2C-AE4E-93470D6AE8EA</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>1B65E255-AA40-4B47-AF04-5DBEA4E89AA5</key>
			<dict>
				<key>items</key>
				<array>
					<string>CFD27B4F-8346-41D1-A3E9-7581590DF623</string>
				</array>
				<key>name</key>
				<string>Loading External Resources</string>
			</dict>
			<key>31E1F5E4-B147-4289-9BBA-26825EAA3D7A</key>
			<dict>
				<key>items</key>
				<array>
					<string>0C0F7D9E-3640-4CC2-AED5-31B57B20E30D</string>
				</array>
				<key>name</key>
				<string>SVG</string>
			</dict>
			<key>51468649-230C-4EB3-9CFA-1A35D23830E3</key>
			<dict>
				<key>items</key>
				<array>
					<string>B685344F-EE19-49C8-995B-F44FE0FCF898</string>
					<string>9BD15C1C-6D4A-4C87-B2A2-081BD6D106BC</string>
					<string>1B65E255-AA40-4B47-AF04-5DBEA4E89AA5</string>
				</array>
				<key>name</key>
				<string>Core</string>
			</dict>
			<key>516E35F5-0651-4D2C-AE4E-93470D6AE8EA</key>
			<dict>
				<key>items</key>
				<array>
					<string>BE3B89D8-84A0-4016-A28D-3825CAFFB11A</string>
				</array>
				<key>name</key>
				<string>Quantitative Scales</string>
			</dict>
			<key>7600A0CE-E3B8-4858-901C-176A092A23BD</key>
			<dict>
				<key>items</key>
				<array>
					<string>FC078644-0D31-4FCA-A77A-66FB42D0B823</string>
				</array>
				<key>name</key>
				<string>Ordinal Scales</string>
			</dict>
			<key>9B123712-52AA-4B20-9368-AECE613150A0</key>
			<dict>
				<key>items</key>
				<array/>
				<key>name</key>
				<string>Scale</string>
			</dict>
			<key>9BD15C1C-6D4A-4C87-B2A2-081BD6D106BC</key>
			<dict>
				<key>items</key>
				<array>
					<string>F703340B-1803-4A2F-A02B-8400822E6B05</string>
					<string>27CBD39B-43DE-4203-89CF-9796FA3AA171</string>
				</array>
				<key>name</key>
				<string>Selections</string>
			</dict>
			<key>B685344F-EE19-49C8-995B-F44FE0FCF898</key>
			<dict>
				<key>items</key>
				<array>
					<string>4D8995D5-2EBF-4DFF-A39D-EF1ABAE94984</string>
				</array>
				<key>name</key>
				<string>Transitions</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>JavaScript D3</string>
	<key>ordering</key>
	<array>
		<string>4DF20A95-C222-4E37-8823-B309076D7CEB</string>
		<string>6D94A425-D5B9-4640-99F2-D5FE5F0E5C15</string>
		<string>BB11F538-7F30-442D-A030-AB4ABA3F8BB4</string>
		<string>CFD27B4F-8346-41D1-A3E9-7581590DF623</string>
		<string>F703340B-1803-4A2F-A02B-8400822E6B05</string>
		<string>6C042512-A2C5-4ECC-84B2-D083EFE7930D</string>
		<string>27CBD39B-43DE-4203-89CF-9796FA3AA171</string>
		<string>4F0EEEE4-B0DC-47B7-8288-576B4617B39A</string>
		<string>69533AF4-4773-41CE-B0E0-69652191CFBA</string>
		<string>1D500F35-87BA-4692-9EAB-B278C550449A</string>
		<string>BE3B89D8-84A0-4016-A28D-3825CAFFB11A</string>
		<string>FEC0C65B-427D-419B-9D78-7C054E035791</string>
		<string>4D8995D5-2EBF-4DFF-A39D-EF1ABAE94984</string>
		<string>CF71DBB5-3C56-48DB-927E-54A03CF62764</string>
		<string>41D0C877-4D0D-4BB8-AF83-C57DF36727B7</string>
		<string>279C3CD5-4254-498F-B546-F05B2C960DCF</string>
		<string>AF0D8F81-D215-4DEF-A350-CCADEB7D62C8</string>
		<string>0C0F7D9E-3640-4CC2-AED5-31B57B20E30D</string>
	</array>
	<key>uuid</key>
	<string>6C2C249A-D12F-403E-BBD7-A8B7A966152F</string>
</dict>
</plist>
